// =============================================================================
// Components
// Buttons
// =============================================================================

:root {

    --ww-button-height: 2.75rem;

    --ww-button-padding-block: .75rem;
    --ww-button-padding-inline: 1rem;

    --ww-button-gap: .5rem;

}