body {
    background-color: var(--ww-color-background);
    color: var(--ww-color-text);

    font-family: var(--ww-font-family-base);
    font-size: var(--ww-font-size-base);
    line-height: 1.6;

    min-height: 100vh;
}