@use "../tokens/layout";
@use "../tokens/_typography.scss";
// =============================================================================
// WissensWerk Template
// Copyright Layout
// =============================================================================

// =============================================================================
// Copyright
// =============================================================================

.ww-copyright-main {
    background-color: var(--ww-bronze-900);
    
}

.ww-copyright {
    text-align: center;

    line-height: 1.5rem;
    font-size: var(--ww-text-small-font-size);

    color: var(--ww-brass-700);

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.ww-copyright__text {
    text-align: center;
}

.ww-copyright__rights {
    display: block;
}

@media (min-width: layout.$ww-breakpoint-branding) {

    .ww-copyright {

        text-align: center;

    }

    .ww-copyright__rights {
        display: inline;
    }

}