@use "../tokens/layout";
// =============================================================================
// WissensWerk Template
// Header Layout
// =============================================================================

// =============================================================================
// Header
// =============================================================================

.ww-header {
    padding-block: 2rem;
    border-bottom: 1px solid var(--ww-color-border);
    background-color: transparent;

   
    
}

.ww-header__branding {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ww-header__top {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    gap: var(--ww-space-4);
}

// =============================================================================
// Logo
// =============================================================================

.ww-header__logo {
    display: none;
}

.ww-header__logo img {
    display: block;
    width: 15.5rem;
    height: auto;
}

// =============================================================================
// Slogan
// =============================================================================

.ww-header__slogan {
    margin: 0;

    font-size: .95rem;
    line-height: 1.5;

    letter-spacing: .08rem;
    white-space: nowrap;

    color: var(--ww-color-text-muted);
}

// =============================================================================
// Navigation
// =============================================================================

.ww-header__menu{

    font-size: var(--ww-navigation-font-size);

}

// =============================================================================
// Desktop ≥ 750 px
// =============================================================================

@media (min-width: layout.$ww-breakpoint-branding) {

    .ww-header__branding {
        justify-content: flex-start;
        gap: 2rem;
    }

    .ww-header__logo {
        display: block;
    }

    .ww-header__site {
        display: flex;
        flex-direction: column;
        // align-items: center;

        width: 25rem;
    }

    .ww-header__site p {
        font-size: 1.1rem;
        letter-spacing: .29rem;
    }

    .ww-header__toggle {

        display: none;

    }

    .ww-branding-primary,
    .ww-branding-secondary {

        font-size: 3.7rem;

    }

    
    .ww-balance::before,
    .ww-balance::after {

        width: 10.25rem;

    }
}

@media (max-width: 749.99px) {

    .ww-header__toggle {

        display: block;

    }

    .ww-header__menu {

        display: none;

    }
    
    .ww-branding-primary,
    .ww-branding-secondary {

        font-size: 2.4rem;

    }

    
    .ww-balance::before,
    .ww-balance::after {

        width: 6.4rem;

    }
}


    

