@use "../tokens" as *;
@use "../abstracts" as*;
// =============================================================================
// WissensWerk Design System
// Layout Layer
// Header
// =============================================================================
//
// File:
// _header.scss
//
// Purpose:
// Defines the global page header.
//
// Responsibilities:
// - Branding
// - Header layout
// - Navigation placement
// - Responsive layout
//
// Not responsible for:
// - Navigation component
// - Branding component
//
// Status:
// ✓ Final
//
// =============================================================================

/* ==========================================================
   Header
   ========================================================== */

.ww-header {
    //background: var(--ww-color-surface);
    width: 100%;
}

.ww-header__container {
    max-width: var(--ww-container-xl);
    padding-inline: 30PX;
    height: 96px;

    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
}

.ww-brand {
    flex: 0 0 auto;
}

.ww-header__navigation {
    flex: 1;
}

.ww-header__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.ww-header__search {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    padding: 0;
    margin: 0;

    background: transparent;
    border: 0;
    cursor: pointer;

    color: var(--ww-color-text);
}

.ww-header__search .bi {
    font-size: 1.4rem;
}

