/* ==========================================================================
   Reading Layout
   ==========================================================================
   Seitenlayout für Wissensartikel, Dokumentationen und Blogbeiträge.
   Bootstrap übernimmt das Grid und die Responsive-Logik.
   WissensWerk ergänzt das Layout durch projektspezifische Abstände.
   ========================================================================== */

.ww-main {
    width: 100%;
}

/* ==========================================================
   Reading Layout
   ========================================================== */

.ww-reading-layout {
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 3rem;

}

/* ==========================================================
   Content
   ========================================================== */

.ww-content {
    min-width: 0;
    padding-inline: 30px 30px;
}

/* ==========================================================
   Sidebar
   ========================================================== */

.ww-sidebar {
    min-width: 0;
    padding-inline: 15px 15px;
    
}

.ww_info__box{
    background-color: var(--ww-color-surface-alt);
    padding-inline: 5px;
    font-size:smaller;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

}