<section class="ww-article">
<div class="ww-article-split__content">
<h2>Mein Weg - ein paar Stationen</h2>
<p class="ww-article-subtitel">Ein langer spannender Weg</p>
</div>
<section class="ww-article-columns ww-article-columns--4">
<article class="ww-article-teaser ww-article-teaser--media-center">
<div class="titel">
<h3>1984</h3>
<p>Der Anfang</p>
</div>
<div class="ww-article-teaser__media"><img src="images/icon/icon-computer.png" alt="" width="50" height="49" loading="lazy" data-path="local-images:/icon/icon-computer.png"></div>
<div class="ww-article-teaser__content">
<p>Erster eigene Computer, Betriessystem und die Faszination, Probieren, lernen und verstehen.</p>
</div>
</article>
<article class="ww-article-teaser ww-article-teaser--media-center">
<div class="titel">
<h3>1990</h3>
<p>System und Netzwerke</p>
</div>
<div class="ww-article-teaser__media"><img src="images/icon/icon-server.png" alt="" width="49" height="49" loading="lazy" data-path="local-images:/icon/icon-server.png"></div>
<div class="ww-article-teaser__content">
<p>Betriebssysteme, Serverumgebungen und erste Erfahrungen mit virtualisierungsklösungen im privaten Umfeld.</p>
</div>
</article>
<article class="ww-article-teaser ww-article-teaser--media-center">
<div class="titel">
<h3>2010</h3>
<p>berufliche Praxis</p>
</div>
<div class="ww-article-teaser__media"><img src="images/icon/icon-job.png" width="49" height="49" loading="lazy" data-path="local-images:/icon/icon-job.png"></div>
<div class="ww-article-teaser__content">
<p>Einsatz von IT-Know-How in kaufmännischen und logistischen Prozessen. SAP, Datenanalysen und Prozessorganisation.</p>
</div>
</article>
<article class="ww-article-teaser ww-article-teaser--media-center">
<div class="titel">
<h3>Heute</h3>
<p>WissensWerk</p>
</div>
<div class="ww-article-teaser__media"><img src="images/icon/icon-today.png" alt="" width="50" height="49" loading="lazy" data-path="local-images:/icon/icon-today.png"></div>
<div class="ww-article-teaser__content">
<p>Erfahrung bündeln, Wissen strukturieren und weitergeben - als Persönliches Projekt und Lernraum</p>
</div>
</article>
</section>
</section>

<section class="ww-article">
    <section class="ww-article-split ww-article-split--media-right">
    
        <div class="ww-article-split__content">
            <h2>Meine Erfahrung</h2>
            <p class="ww-article-subtitel">Praxis, die verbindet</p>
            <p>Mein technisches Verständnis konnte ich in den Jahren mit kaufmännischem Wissen verbinden. In meiner beruflichen Laufbahn bei Galeria Karstadt Kaufhof war ich in der Warenwirtschaft tätig, später in leitender Funktion.</p>
            <p>Dabei standen immer die Fragen im Mittelpunkt: Wie läuft ein Prozess? Wo entstehen Fehler? Wie können wir ihn besser machen. Dieses analytischen Denken - unterstützt durch IT und Daten - hat meine Arbeitsweise nachhaltig geprägt.</p>
        </div>
        <div class="ww-article-split__media">
            <figure class="ww-article-media ww-article-media--full"><img src="images/artikel/artikel/expertise.png" alt="" width="525" height="274" loading="lazy" data-path="local-images:/artikel/artikel/expertise.png"></figure>
        </div>
        <p></p>
    </section>
</section>