// =============================================================================
// WissensWerk Template
// Base - Document
// =============================================================================

body {
    font-family: var(--ww-text-body-font-family);
    font-size: var(--ww-text-body-font-size);
    font-weight: var(--ww-text-body-font-weight);
    line-height: var(--ww-text-body-line-height);
}

main {
    display: block;
}