/**
 * -----------------------------------------------------------------------------
 * Component: Offcanvas
 * -----------------------------------------------------------------------------
 * Mobile Navigation
 * -----------------------------------------------------------------------------
 */

.ww-offcanvas {

    /* -------------------------------------------------------------------------
     * Bootstrap
     * ---------------------------------------------------------------------- */

    --bs-offcanvas-bg: var(--ww-color-background);

    /* -------------------------------------------------------------------------
     * Header
     * ---------------------------------------------------------------------- */

    &__header {

        padding: var(--ww-space-5);

        border-bottom: 1px solid var(--ww-color-border);

    }

    /* -------------------------------------------------------------------------
     * Top
     * ---------------------------------------------------------------------- */

    &__top {

        display: flex;

        justify-content: space-between;

        align-items: flex-start;

        gap: var(--ww-space-4);

        margin-top: 4px;
    }

    .offcanvas-header .btn-close{
        margin-top: 12px;
        margin-left: 24px;
        background-color: var(--ww-green-700);
    }


    /* -------------------------------------------------------------------------
     * Brand
     * ---------------------------------------------------------------------- */

    &__brand {

        flex: 1 1 auto;

        .ww-branding {

            font-size: 2rem;

        }

    }

    /* -------------------------------------------------------------------------
     * Close Button
     * ---------------------------------------------------------------------- */

    &__close {

        flex: 0 0 auto;

        margin: 0;

        padding: .25rem;

        align-self: flex-start;

    }

    /* -------------------------------------------------------------------------
     * Body
     * ---------------------------------------------------------------------- */

    &__body {

        display: flex;

        flex-direction: column;

        padding: 0;

        padding-block: var(--ww-space-4);

    }

    /* -------------------------------------------------------------------------
     * Navigation
     * ---------------------------------------------------------------------- */

    &__navigation {

        flex: 1;

        .mod-menu {

            display: flex;

            flex-direction: column;

            margin: 0;

            padding: 0;

            list-style: none;

            > .nav-item {

                margin: 0;

                border-bottom: 1px solid var(--ww-color-border);

                > a {

                    display: block;

                    padding: 1rem 1.5rem;

                    color: var(--ww-color-text);

                    font-size: 1.1rem;

                    font-weight: 400;

                    text-decoration: none;

                }

            }

        }

    }

    /* -------------------------------------------------------------------------
     * Footer
     * ---------------------------------------------------------------------- */

    &__footer {

         display: flex;

        justify-content: center;

        align-items: center;

        //padding: var(--ww-space-6);
        padding-bottom: var(--ww-space-5);

        margin-top: auto;

        background-color: var(--ww-color-secondary);

        .ww-offcanvas__footer-logo {

            width: 8rem;
            height: auto;   
            border-bottom: red 2px;
            


        }

    }

}